@Model <MercadoWeb.Models.CadastroProdutosModels>

    <div id="cadastro">
        <section id="cadastro_cabecalho">
            <h1>Cadastro de Categoria</h1>
        </section>
        <section id="cadastro_conteudo">

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div id="cabecalho_grid" class="row">
                            <a id="btn-incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>Incluir</a>
                            <table id="grid_cadastro" class="table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Título</th>


                                    </tr>

                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Título</td>
                                        <td>Nome</td>


                                        <td>
                                            <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>
                                            <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
